---
http_interactions:
- request:
    method: get
    uri: https://us18.api.mailchimp.com/3.0/lists/059e1b7848/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OjRmYjZiNDliYzJjOGU0YzMwMzEzOGEzOGJjYmExNTMxLXVzMTg=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us18.api.mailchimp.com/schema/3.0/Lists/Members/Collection.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"members":[],"list_id":"059e1b7848","total_items":0,"_links":[{"rel":"self","href":"https://us18.api.mailchimp.com/3.0/lists/059e1b7848/members","method":"GET","targetSchema":"https://us18.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us18.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"parent","href":"https://us18.api.mailchimp.com/3.0/lists/059e1b7848","method":"GET","targetSchema":"https://us18.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"create","href":"https://us18.api.mailchimp.com/3.0/lists/059e1b7848/members","method":"POST","targetSchema":"https://us18.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us18.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/POST.json"}]}'
  recorded_at: Sun, 01 Jul 2018 23:54:24 GMT
recorded_with: VCR 4.0.0
