---
http_interactions:
- request:
    method: post
    uri: https://us18.api.mailchimp.com/3.0/lists/059e1b7848/members
    body:
      encoding: UTF-8
      string: '{"email_address":"sample@gmail.com","status":"subscribed","merge_fields":{}}'
    headers:
      Authorization:
      - Basic YXBpa2V5OjRmYjZiNDliYzJjOGU0YzMwMzEzOGEzOGJjYmExNTMxLXVzMTg=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us18.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us18.admin.mailchimp.com/lists/members/view?id=22167317>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"acb479080840025a9c03f8453f5c853c","email_address":"sample@gmail.com","unique_email_id":"0141a9ba77","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"","LNAME":"","ADDRESS":"","PHONE":"","BIRTHDAY":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"154.5.223.206","timestamp_opt":"2018-07-01T23:54:24+00:00","member_rating":2,"last_changed":"2018-07-01T23:54:24+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"059e1b7848","_links":[{"rel":"self","href":"https://us18.api.mailchimp.com/3.0/lists/059e1b7848/members/acb479080840025a9c03f8453f5c853c","method":"GET","targetSchema":"https://us18.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us18.api.mailchimp.com/3.0/lists/059e1b7848/members","method":"GET","targetSchema":"https://us18.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us18.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us18.api.mailchimp.com/3.0/lists/059e1b7848/members/acb479080840025a9c03f8453f5c853c","method":"PATCH","targetSchema":"https://us18.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us18.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us18.api.mailchimp.com/3.0/lists/059e1b7848/members/acb47908084[...]
